doctype html
html
    head
        title= title
        meta(charset="utf-8")
        link(rel="stylesheet",href="/css/pdf-slide.css")
        link(rel="stylesheet",href="/css/main.css")
    body
        #marquee.marqueeRightLeft
        #pdf-container.pdf-page
        .controls
            #js-prev.arrow.prev
            #js-next.arrow.next
        .fix_panel
            input#message(type="text",maxlength="50")
    script.
        const pdf="#{file}";
    script(src="/socket.io/socket.io.js")
    script(src="/js/PDFJSController.js")
    - if (controller)
        script(src="/js/main_controller.js")
    - else
        script(src="/js/main_viewer.js")
    script(src="/js/main.js")
            
    



